<div class="container-start">
    <div class="small-container-start">
        <h1>Help us <span style="color:#d25959">protecting</span> the Amazon Rainforest</h1>
        <h2>Sign this petition and help us to stop the deforestation of the Amazon forest. Together we're better!<br><br><br>
         Register, sign up and help.</h2>
    </div>
</div>
