<div class="container-forest">
<div class="small-container-forest">
<h2 class="about">About the Forest</h2>

<p>The Amazon rainforest, also known in English as Amazonia or the Amazon Jungle, is a
moist broadleaf tropical rainforest in the Amazon biome that covers most of the Amazon basin of South America.
This basin encompasses 7,000,000 km2 (2,700,000 sq mi), of which 5,500,000 km2 (2,100,000 sq mi) are covered by the rainforest.
This region includes territory belonging to nine nations.</p><br>

<p>The majority of the forest is contained within Brazil, with 60% of the rainforest, followed by Peru with 13%, Colombia
with 10%, and with minor amounts in Venezuela, Ecuador, Bolivia, Guyana, Suriname and French Guiana.
Four nations have "Amazonas" as the name of one of their first-level administrative regions and France uses
the name "Guiana Amazonian Park" for its rainforest protected area. The Amazon represents over half of the planet's
remaining rainforests, and comprises the largest and most biodiverse tract of tropical rainforest in the world,
with an estimated 390 billion individual trees divided into 16,000 species.</p><br>


<h2>What is happening and when did it begin?</h2>

<p>Since the beginning of 2019, Brazil's National Institute for Space Research (known as "INPE") has reported 72,843 fires
in the country, with more than half of these being seen in the Amazon region. This means more than one-and-a-half soccer
fields of Amazon rainforest are being destroyed every minute of every day, INPE has stated. An 80% increase in deforestation has occurred so far this year compared to last
year, according to the institute.</p><br>

<p>Evidence of the fires also comes by way of a map created by the European Union's satellite program,
Copernicus, that shows smoke from the fires spreading all along Brazil to the east Atlantic coast. Smoke has
covered nearly half of the country and has begun to spill into neighboring Peru, Bolivia and Paraguay.</p><br>

<p>Even São Paulo, more than 1,700 miles away, has inhaled some of the burning forest's smoke. Images from the city
show the sky pitch-black in the middle of the afternoon, the sun partially obscured by ash and dark.</p><br>

<h2>Is there any correlation between the Brazilian government and what is currently happening?</h2>


<p>There is evidence that farmers feel more emboldened to burn land following the election of Mr. Bolsonaro. A <a href="https://www.nytimes.com/2019/07/28/world/americas/brazil-deforestation-amazon-bolsonaro.html?module=inline">New York Times analysis</a> of public records
found that enforcement actions intended to discourage illegal deforestation, such as fines or seizure of equipment, by Brazil’s main environmental
agency fell by 20 percent during the first six months of this year. Mr. Bolsonaro blames nongovernmental organizations for the fires. He has cited no evidence, and environmental experts
dispute the claim.</p><br>

<h2>What could result from deforestation of<br> the Amazon?</h2>

<p>Currently, the Amazon is a "sink" for carbon dioxide (CO2), the gas that is emitted mainly from burning fossil
fuels, such as coal, oil and natural gas, <a href="http://wwf.panda.org/knowledge_hub/where_we_work/amazon/about_the_amazon/why_amazon_important/"> according to WWF</a>. Under natural conditions, plants remove CO2 from the
atmosphere and absorb it for photosynthesis, yielding carbon, which allows plants to grow, and releasing oxygen
back into the air. Scientists say that excessive carbon dioxide emissions are contributing to the warming of our planet.</p>

<p>The Amazon remains a net source of oxygen today -- despite the fact that about 20% of the world's total carbon dioxide
emissions are caused by deforestation. Before the recent fires, the Amazon released up to 0.5 billion metric tons of carbon per year due to deforestation,
according to the World Wildlife Fund.</p>

<p>However, increased deforestation in concert with other ecological conditions could cause the Amazon to become a source of CO2 instead of a sink, some environmentalists believe. (The amount of oxygen emitted decreasing,
while carbon dioxide balloons into the atmosphere.)</p>

<p>Instead of preserving the planet from the effects of global warming, then, the Amazon could begin harming the planet by emitting larger amounts of carbon dioxide and contributing to climate change, according to the World Wildlife Fund. Recently, Greenpeace called Brazil's president, Jair Bolsonaro,
and his government a "threat to the climate equilibrium."</p>

<h2>What can you do?</h2>


<p>No need to wait around for politicians to act. To help reforest parts of the world, you can contribute to the Rainforest Trust and Rainforest Alliance.
The Arbor Day Foundation also has a program to help save tropical rain forests which provide habitat for
some 50% of the world's plants and animals.</p>
<p>You also can buy products that feature the "Rainforest Alliance Certified™" seal.
Thousands of products from farms that met standards for sustainability have earned the seal -- including coffee,
chocolate and bananas.</p>
<p>If climate change is your worry, there's plenty you can do about that. Drive less, walk more. If you can afford it, "buy a more fuel efficient car," Sizer recommends.
Adjusting your thermostats by just a couple of degrees also makes a difference (while saving you money), he said.</p>
<p>You can also stop eating beef. Cows produce a greenhouse gas known as methane, which is 25 times more
potent that carbon dioxide. Cattle is responsible for 41% of all greenhouse gas emissions produced by livestock,
which in turn account for 14.5% of total global emissions.</p>
<p>And last, but not least, sign this petition.</p>

    </div>
    <nav>
        <p>Sources:</p>
        <a href="https://en.wikipedia.org/wiki/Amazon_rainforest"><p>Wikipedia</p></a>
        <a href="https://www.nytimes.com/2019/08/23/world/americas/amazon-fire-brazil-bolsonaro.html"><p>The New York Times</p></a>
        <a href="https://edition.cnn.com/2019/08/23/americas/amazon-wildfires-411/index.html"><p>CNN</p></a>
        <a href="http://wwf.panda.org/knowledge_hub/where_we_work/amazon/about_the_amazon/why_amazon_important"><p>WWF</p>
        </a>
    </nav>
</div>
